<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/clinical8.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container" style="background-image: url('./assets/img/clinical10.png');background-position: center;background-repeat: no-repeat;">
            <h1><b>NUESTRA CLÍNICA</b></h1>
			<p>En agosto de 1992 un grupo de reconocidos médicos especialistas, liderados por el doctor Angel Espejo, fundaron la Clínica San Luis. Desde sus inicios, se tuvo como objetivo convertirse en una institución altamente especializada y equipada con la tecnología médica más avanzada.
Con el transcurso de los años la Clínica San Luis se transformó en la red privada de salud más grande y moderna del Perú. Actualmente, la sede Lima Centro cuenta con un staff de más de 100 doctores, distribuidos en más de 50 especialidades, enfocados en mejorar los estándares de seguridad y con el objetivo de hacer placentera la experiencia de nuestros pacientes.
A la fecha, la clínica ha experimentado un crecimiento exponencial. Contamos con tecnología médica de avanzada, para realizar diagnósticos precisos y ofrecer los tratamientos más eficaces. Seguimos implementando procesos de seguridad y calidad de atención, para seguir tratando a nuestros pacientes bajo estándares internacionales.</p>
<h2><b>NUESTRA MISIÓN</b></h2>
<p>Lograr la satisfacción y confianza de nuestros pacientes y colaboradores.</p>
<h2><b>NUESTRA VISIÓN</b></h2>
<p>Mantenernos como la red privada de salud más grande del país, con personal altamente capacitado, motivado y apoyado en tecnología de punta.</p>
<h2><b>NUESTROS VALORES</b></h2>
<ul>
  <li>Honestidad y Lealtad</li>
  <li>Trabajo en equipo</li>
  <li>Comunicación</li>
  <li>Liderazgo</li>
  <li>Excelencia enfocada en el paciente</li>
</ul> 
        </div>
    </div>
</div>


