.title-div{
    color:#7d5c9c;
    font-size:24px;
}

.container-div{
    background-color: bisque;
    padding: 10px;
}

.container-filter{
    background-color: white;
}

.container-filter{
    span{
        font-weight: bold;
        font-size: 20px;
    }
}

.boton_1{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
}
.boton_1:hover{
    color: #1883ba;
    background-color: #ffffff;
}